<footer class="footer">
  <div class="row">
    <div class="col-1-of-3 ">
      <div class="footer__side-img"></div>
    </div>
    <div class="col-1-of-3 ">
      <div class="footer__links">
        <a href="#" class="footer__links__link">Home</a>
        <a href="#" class="footer__links__link">About</a>
        <a href="#" class="footer__links__link">Contact</a>
      </div>
    </div>
    <div class="col-1-of-3 ">
      <div class="footer__text">ליצירת קשר: 15645614564</div>
    </div>
  </div>

</footer>