<div class="aboutme__container container-fluid ">

  <div class="row">
    <h1>ברוכים הבאים לגלים – בית הספר לגלישה</h1>
  </div>
  <div class="row">
    <span class="aboutme__text">מועדון גלים הוא מועדון גלישה וותיק, הממוקם באחד החופים המרכזיים בארץ – חוף גורדון
      המועדון
      מתופעל ומנוהל על ידי צוות מיומן ומנוסה, מהשורה הראשונה, אשר יקנה לכם כניסה בטוחה לעולם הגלישה.
      במועדון הגלישה גלים תוכלו למצוא את השירותים הבאים:</span>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="aboutme__box">
        <div class="aboutme__box_img aboutme__box_img-1"></div>
        <span class="aboutme__box_txt"> השכרת ציוד גלישה ואחסנה</span>
      </div>
    </div>
    <div class="col-sm">
      <div class="aboutme__box">
        <div class="aboutme__box_img aboutme__box_img-2"></div>
        <span class="aboutme__box_txt"> שירותי תיקונים לכל ציוד הגלישה</span>
      </div>
    </div>
    <div class="col-sm">
      <div class="aboutme__box">
        <div class="aboutme__box_img aboutme__box_img-3"></div>
        <span class="aboutme__box_txt">ביגוד וחליפות לקנייה ולהשכרה</span>
      </div>
    </div>

  </div>




</div>




<!-- 
<h1 class="aboutme__h1">ברוכים הבאים לגלים – בית הספר לגלישה</h1>
<span class="aboutme__text">מועדון גלים הוא מועדון גלישה וותיק, הממוקם באחד החופים המרכזיים בארץ – חוף גורדון המועדון
  מתופעל ומנוהל על ידי צוות מיומן ומנוסה, מהשורה הראשונה, אשר יקנה לכם כניסה בטוחה לעולם הגלישה.
  במועדון הגלישה גלים תוכלו למצוא את השירותים הבאים:</span>
<div class="row">

  <div class="col-1-of-3 ">
    <div class="aboutme__box">
      <div class="aboutme__box_img aboutme__box_img-1"></div>
      <span class="aboutme__box_txt"> השכרת ציוד גלישה ואחסנה</span>
    </div>
  </div>
  <div class="col-1-of-3 ">
    <div class="aboutme__box">
      <div class="aboutme__box_img aboutme__box_img-2"></div>
      <span class="aboutme__box_txt"> שירותי תיקונים לכל ציוד הגלישה</span>
    </div>
  </div>
  <div class="col-1-of-3 ">
    <div class="aboutme__box">
      <div class="aboutme__box_img aboutme__box_img-3"></div>
      <span class="aboutme__box_txt">ביגוד וחליפות לקנייה ולהשכרה</span>
    </div>
  </div>


</div> -->