<div class="about_me_container">
  <h1 class="about_me__h1">ברוכים הבאים לגלים – בית הספר לגלישה</h1>

  <span class="about_me_text"> מועדון גלים הוא מועדון גלישה וותיק, הממוקם באחד החופים המרכזיים בארץ – חוף גורדון המועדון
    מתופעל ומנוהל על ידי צוות מיומן ומנוסה, מהשורה הראשונה, אשר יקנה לכם כניסה בטוחה לעולם הגלישה.
    במועדון הגלישה גלים תוכלו למצוא את השירותים הבאים:</span>

  <div class="row">

    <div class="col-1-of-3 ">
      <div class="about_me_box">
        <div class="about_me_box_img"></div>
        <span> השכרת ציוד גלישה ואחסנה</span>
      </div>
    </div>
    <div class="col-1-of-3 ">
      <div class="about_me_box">
        <div class="about_me_box_img"></div>
        <span> שירותי תיקונים לכל ציוד הגלישה</span>
      </div>
    </div>
    <div class="col-1-of-3 ">
      <div class="about_me_box">
        <div class="about_me_box_img"></div>
        <span>ביגוד וחליפות לקנייה ולהשכרה</span>
      </div>
    </div>


  </div>





</div>