<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<div class="contact__container">
  <div class="contact-us">
    <div class="title">
      <h1>צור קשר</h1>
    </div>
    <div class="form">
      <div class="form-items">
        <i class="fas fa-user"></i>
        <input type="text" class="input" placeholder="שם">
      </div>
      <div class="form-items">
        <i class="fas fa-phone"></i>
        <input type="text" class="input" placeholder="טלפון">
      </div>
      <div class="form-items">
        <i class="fas fa-envelope"></i>
        <textarea class="input message" cols="30" rows="10" placeholder="הודעה"></textarea>
      </div>
    </div>
    <div class="btn">
      <i class="fas fa-arrow-left"></i>
      שלח
    </div>
  </div>
</div>