@import "../../scss/abstracts/variables";

.recommendations {

    &__container {
        display: block;
        height: 100%;
        width: 100%;
        background-color: $maincolor-light;
    }

    &__overlay{
        
    }

    &__box {

        display: inline-block;
        height: 20rem;
        width: 12rem;
        margin: auto;

        &__img {
            background-image: url('../../assets/Shta.jpg');
            background-position: center;
            background-repeat: no-repeat;
            height: 45px;
            width: 45px;
            border-radius: 200%;
            margin: auto;

        }

        &__name {
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            font-family:  "Arial Black", Gadget, sans-serif;
        }

        &__text {
            text-align: right;
            
            
            
        }
        &__icon {
            
        }
    }

}