@import "../../scss/abstracts/variables";




.recommendations {

    &__container {
        display: block;
        height: 100%;
        width: 100%;
        background-color: $maincolor-light;
    }

    &__overlay{
        
    }

    &__box {

        display: inline-block;
        height: 20rem;
        width: 12rem;
        margin: auto;
        background-color: white;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 0 2px rgba(0,0,0,0.1);
        margin-left: 4rem;

        &__img {
            // background-image: url('../../assets/Shta.jpg');
           
            height: 55px;
            width: 55px;
            border-radius: 200%;
            margin: auto;

        }

        &__name {
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            font-family:  "Arial Black", Gadget, sans-serif;
            margin-top: 2rem;
        }

        &__text {
            text-align: center;
            
            margin-top: 2rem;
            line-height: 2;
            
            
            
            
        }
        &__icon {
            
        }
    }

}

